@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;0,700;1,400&display=swap');

html {
  box-sizing: border-box;

  /* Default font-size is 10px */
  font-size: 62.5%;

  /* Font variables */
  --font-weight-lighter: 300;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* Color variables */
  --color-magneto-header: #FAFF03;
  --color-body: #000000;
  --color-nav-active-link: #FF0606;
  --color-mutant-power: #315DF6;
  --color-mutant-favorite: #DBFF00;
  --color-mutant-remove: #64C75A;

  /* Background variables */
  --background-app: #6C6C6C;
  --background-body: #FAFAFA;

  /* Box shadow variables */
  --box-shadow-nav: 0px 4px 8px rgba(0, 0, 0, 0.5);
  --box-shadow-default: 5px 4px 10px rgba(0, 0, 0, 0.5);
}

body {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Average value based on Figma mockup */
  line-height: 1.2;

  background: var(--background-app);
}

html, body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
